body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  #map {
    height: 100%;
    width: 100%;
  }
.títol {position: absolute; top: 50px; right: 100px; font-size: 40px; height: auto; padding:10px; opacity: 95%; background-color: gray; z-index: 500;
  border-radius: 20px;text-align: center; border: solid 5px black;}

.townname {text-align: center; font-size: 20px;font-weight: bolder;background-color: deepskyblue;padding: 2px}

.clickhere_text {text-align: center; font-size: 15px;font-weight: bold; margin-top: 20px} 

.LST_link {text-align: center; width: fit-content}
  